# =============================================================================================
# = DATA SOURCE
# =============================================================================================
spring:
  application:
    name: #APPLICATION-NAME#
    gdata_end_point_url: #GDATA-END-POINT#
  main:
    allow-bean-definition-overriding: #BEAN-DEFINITION-OVERRIDING#
  mvc:
    throw-exception-if-no-handler-found: #THROW-EXCEPTION-IF-NO-HANDLER#
  resources:
    add-mappings: #RESOURCES-ADD-MAPPINGS#
  banner.location: classpath:#BANNER-CLASSPATH#
  jpa:
    hibernate.ddl-auto: #HIBERNATE-DDL-AUTO#
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: #NON-CONTEXTUAL-CREATION#
        default_schema: #DEFAULT-SCHEMA#
  datasource:
    url: #DATASOURCE-URL#
    username: #DATASOURCE-USERNAME#
    password: #DATASOURCE-PASSWORD#

  zipkin:
    base-url: #ZIPKIN-BASE-URL#
  sleuth:
    sampler:
      probability: #SLEUTH-SAMPLER-PROBABILITY#


# =============================================================================================
# = SERVICE
# =============================================================================================
service:
  properties:
    short-code: #SHORT-CODE#
    version: #VERSION#
server:
  port : #SERVICE-PORT#
  servlet:
    context-path: /#APPLICATION-NAME#


# =============================================================================================
# = EUREKA
# =============================================================================================
eureka:
  instance:
    prefer-ip-address: #EUREKA-PREFER-IP#
    ipAddress: #EUREKA-IPADDRESS#
    appname: #EUREKA-APPNAME#
    leaseExpirationDurationInSeconds: #EUREKA-LEASEEXPIRATION#
    leaseRenewalIntervalInSeconds: #EUREKA-LEASERENEWALINTERVAL#
  client:
    enabled: #CLIENTENABLED#
    registerWithEureka: #REGISTERWITHEUREKA#
    fetchRegistry: #FETCHREGISTRY#
    serviceUrl:
      defaultZone: #SERVICEURL-DEFAULTZONE#

cmn-service-file-management:
  url: #CMN-SERVICE-FILE-MANAGEMENT-URL#
cmn-service-organogram:
  url: #CMN-SERVICE-ORGANOGRAM-URL#
hrm-service:
  url: #HRM-SERVICE-PIM-V1-URL#
notification-service-ictd:
  url: #NOTIFICATION-SERVICE-ICTD-URL#
email-service-ictd:
  url: #EMAIL-SERVICE-ICTD-URL#
hrm-service-award-publication:
  url: #HRM-SERVICE-AWARD-PUBLICATION-URL#
cmn-service-global:
  url: #CMN-SERVICE-GLOBAL-URL#
auth-user:
  url: #AUTH-USER-URL#
pmis-web-home:
  url: #PMIS-WEB-HOME-URL#